.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff1f1;
}

.contentScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: url(../img/background.jpg);
  width: 400px;
  height: 600px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 0 0 10px black;
  margin: auto;
}

.ong-name {
  margin: 50px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font: bold 2.5rem monospace;
  border-top: solid 5px black;
  border-bottom: solid 5px black;
}

td {
  max-width: 50px;
  width: auto;
  min-width: 10px;
}

thead {
  text-align: center;
}

label {
  font: bold 22px monospace;
  padding-right: 5px;
}

.tbCadastrados {
  padding: 10px;
  margin-top: 50px;
  height: 90%;
  overflow-y: scroll;
}

.inputs {
  display: flex;
  margin-top: 20px;
  padding: 0 20px;
}

.button {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.btn-secondary:hover {
  border-color: #e2359d;
  background-color: #e2359d;
}

.btn-secondary, .btn-voltar {
  background-color: #f1a5d3;
  border-color: #f1a5d3;
}

.btn-outline-secondary:HOVER {
  background-color: #e2359d;
  border-color: #f1a5d3;
}

.btn-outline-secondary {
  color: #f1a5d3;
  border-color: #f1a5d3;

}

.table {
  backdrop-filter: blur(2px);
  border-style: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#tabela {
  vertical-align: middle;
  background-color: rgba(207, 47, 207, 0.103);
  word-wrap: break-word;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(249, 221, 237, 241);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(249, 221, 237, 241);
}

/* @media only screen and (max-width: 600px) {
  main{
    width: 350px;
    height: 630px;

  }
}  */